
@page "/greensboro"

@inject IJSRuntime jsRuntime
@namespace HUD.Components
@using HUD.Data.Models.Actions
@using HUD.Data.Models.RepairShopr;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@using System.Security.Claims;
@using System.Threading;
@using System.Threading.Tasks;
@inject HUD.Data.ApplicationDbContext context
@inherits GreensboroBase

    <TopControls _apiConn="@_apiConnG" _context="@context" _userGuid="@_userGuid" Greensboro="@_greensboro" Winston="@_winston" _refreshRate="@REFRESH_RATE" />



    <div id="grid">


        <div class="row">
            @*<ContactList />*@
        </div>

        <div class="row task-list-card-row">

            <MainInfoComponent _apiConn="@_apiConnG" _refreshRate="@REFRESH_RATE" />

        </div>


        <div class="row task-list-card-row">

            <TicketListComponent _apiConn="@_apiConnG" _refreshRate="@REFRESH_RATE" />

        </div>

        <div class="row task-list-card-row">




            <div class="col-md-6">
                @*<PieChart />*@
            </div>


        </div>

    </div>

    @code {

        [Parameter]
        public bool _greensboro { get; set; } = true;
        [Parameter]
        public bool _winston { get; set; } = false;

        protected override async Task<Task> OnInitializedAsync()
        {
            _prefix = httpContextAccessor.HttpContext.User.Claims.First(a => a.Type == "UrlPrefix").Value;
            _apiKey = httpContextAccessor.HttpContext.User.Claims.First(a => a.Type == "ApiKey").Value;
            _userGuid = httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
            _apiConnG = new ApiConnection(context, httpContextAccessor, _userGuid, Configuration, _prefix, _apiKey, true, false);
            return base.OnInitializedAsync();
        }



    }
